/**
 * main.css
 * v 0.5
 */

/* Fonts
   ========================================================================== */

/* Base options
   ========================================================================== */
html { position: relative; min-height: 100%; }
body { font-family: Arial, sans-serif; font-size: 14px; color: black; background-color: white; }

/* visuallyhidden by Richard Kalehoff
   ========================================================================== */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; white-space: nowrap; }

/* Header
   ========================================================================== */
header { background-color: #2e3d49; border-bottom: 1px solid #E0E0E0; -webkit-box-shadow: 0px 3px 10px 0px rgba(224,224,224,1); 
-moz-box-shadow: 0px 3px 10px 0px rgba(224,224,224,1); box-shadow: 0px 3px 10px 0px rgba(224,224,224,1); }
header #header-inner { width: 95%; margin-left: auto; margin-right: auto; }
header #header-inner h1 { margin: 0px; padding: 30px 0px; font-weight: normal; color: white; }

/* Form
   ========================================================================== */
form { display: flex; flex-wrap: wrap; }
form .left { flex-grow: 1; margin-bottom: 25px; }

/**
 * search box
 */
#search-box { display: flex; margin-bottom: 25px; }
#search-box .sb { display: block; border: none; margin: 0; padding: 0; }
#search-box #city { padding: 1em 0% 1em 2%; flex-grow: 1;
border-radius: 4px 0px 0px 4px; -moz-border-radius: 4px 0px 0px 4px; -webkit-border-radius: 4px 0px 0px 4px; }

/**
 * favorite button
 */
#search-box #keep-btn { font-size: 2em; /* padding: 0 0.6em; */ width: 60px; text-align: center; background-color: white; color: white;  
border-radius: 0px 4px 4px 0px; -moz-border-radius: 0px 4px 4px 0px; -webkit-border-radius: 0px 4px 4px 0px; }
#search-box #keep-btn.passive,
#search-box #keep-btn.active { cursor: pointer; }
#search-box #keep-btn.passive:before { content: "\2606"; color: #2e3d49; }
#search-box #keep-btn.passive:hover:before { content: "\2605"; color: #2e3d49; }
#search-box #keep-btn.active:before { content: "\2605"; color: #2e3d49; }

/**
 * options box
 */
#options #options-period { display: flex; flex-wrap: wrap; margin-bottom: 35px; }
#options #options-unit { display: flex; flex-wrap: wrap; }
#options .common-radio { display: block; text-align: center; }
#options .common-radio input { display: none; }
#options .common-radio span { display: block; color: #ffffff; cursor: pointer; background-color: #3980AD; width: 120px; 
padding: 15px 10px; margin-bottom: 15px; margin-right: 7px; border-radius: 4px;  -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#options .common-radio span:hover { background-color: #3980AD; }
#options .common-radio input[type=radio]:checked + span { background-color: #12a159; }

/**
 * submit
 */
#submit { background-color: #15c26b; border: none; color: #ffffff; cursor: pointer; padding: 1em 4em; margin-bottom: 25px;
text-transform: uppercase; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#submit:hover { background-color: #12a159; }

/**
 * @media
 */
@media screen and (min-width: 640px) {
	#options #options-period { margin-bottom: 0px; }
	form .left { margin-bottom: 10px; }
}
@media screen and (min-width: 780px) {
	form { margin-bottom: 15px; }
	form .left { margin-right: 20px; margin-bottom: 0px; }
	#options { display: flex; justify-content: space-between; }
	#options #options-period { margin-bottom: 0px; }
	#options .common-radio span { width: 80px; background-color: #2e3d49; padding: 4px 3px; /* background-color: red; */ }
}
@media screen and (min-width: 1080px) {
	header #header-inner { width: 1080px; }
}

/* aside
   ========================================================================== */
aside { position: absolute; top: 0; bottom: 0; left: -263px; width: 280px; background-color: white;
	border-right: 1px solid #E0E0E0;
	-webkit-box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.75);
}
aside:hover { left: 0px; }
aside:hover #main-btn .out { display: none; }
aside:hover #main-btn .over { display: block; }

/**
 * favorites and history
 */
#aside-inner { padding: 10px; }
#aside-inner h3 { margin: 0; padding: 0; font-weight: normal; color: slategrey; font-size: 2.1em; margin-bottom: 0.4em; }
#aside-inner ul { margin: 0; padding: 0; list-style: none; font-size: 1.2em; }
#aside-inner #keep-favotite-box { margin-bottom: 3em; }
#aside-inner ul li { padding: 0.2em 0 0.2em 0.3em; cursor: pointer; margin-right: 0.4em; }
#aside-inner ul li:hover {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: yellowgreen;
}

/**
 * button aside
 */
#main-btn { position: absolute; top: 40%; right: 0; margin-right: 2px; font-size: 2em; color: #2e3d49; }
#main-btn .over { display: none; }

/* Forecasts
   ========================================================================== */
.forecasts { width: 100%; display: flex; flex-direction: column; align-items: center; margin-top: 50px; }
.forecast { padding: 23px; border: 1px solid #E0E0E0; max-width: 300px; font-size: 1.2em; margin-bottom: 25px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	   -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.forecast:hover { background-color: #f7f7f7; }
.forecast .forecast-date { font-size: 0.7em; width: 33%; float: left; padding-top: 0.3em; color: green; }
.forecast .forecast-description { width: 67%; float: left; margin-bottom: 15px; text-align: right; color: #516b78; }
.forecast .forecast-img { width: 40%; float: left; margin-bottom: 15px; }
.forecast .forecast-temp-avg { width: 60%; float: left; margin-bottom: 15px; text-align: right; color: darkcyan; font-size: 1.6em; }
.forecast .fl { width: 100%; overflow: hidden; margin-bottom: 5px; color: #767676; }
.forecast .fv { display: block; float: right; color: #516b78; text-align: right; }

/**
 * @media
 */
@media screen and (min-width: 745px) {
	.forecasts { flex-flow: row wrap; }
	.forecast { margin: 0px 12px 25px 12px; }
}
@media screen and (min-width: 1080px) {
	.forecasts { width: 1080px; margin-left: auto; margin-right: auto; }
	.forecast { margin: 0px 12px 25px 0px; }
}

/* Errors messages
   ========================================================================== */
.city-val-error { text-align: center; margin-top: 50px; font-size: 1.2em; padding-top: 150px; color: #2e3d49; 
background: url('../img/error-city-name.png') no-repeat top center; }   
.error { text-align: center; margin-top: 50px; font-size: 1.2em; padding-top: 150px; color: #2e3d49; 
background: url('../img/error.png') no-repeat top center; }
