/**
 * main.css
 * v 0.1
 */

/* Fonts
   ========================================================================== */

/* Base options
   ========================================================================== */
body { font-family: Arial, sans-serif; font-size: 14px; color: black; background-color: white; }

/* visuallyhidden by Richard Kalehoff
   ========================================================================== */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; white-space: nowrap; }

/* Header
   ========================================================================== */
header { background-color: #2e3d49; border-bottom: 1px solid #E0E0E0; -webkit-box-shadow: 0px 3px 10px 0px rgba(224,224,224,1); 
-moz-box-shadow: 0px 3px 10px 0px rgba(224,224,224,1); box-shadow: 0px 3px 10px 0px rgba(224,224,224,1); }
header #header-inner { /* margin-bottom: 10px; */ }
header #header-inner h1 { margin: 0px; padding: 30px 0px; font-weight: normal; color: white; }

/**
 * Form box
 */
form { display: flex; flex-wrap: wrap; }

/**
 * Form left box
 */
form .left { flex-grow: 1; margin-bottom: 25px;  margin-right: 2%; /* background-color: tomato; */ }
#city { width: 96%; border: none; margin-bottom: 25px; padding: 1.25em 2%; 
border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#options { display: flex; flex-wrap: wrap; }
#options .common-radio { display: block; /* background-color: tomato; */ text-align: center; }
#options .common-radio input { display: none; }
#options .common-radio span { display: block; width: 80px; background-color: #2e3d49; color: #ffffff; cursor: pointer; padding: 0.3em 0.2em; 
margin-right: 0.5em; margin-bottom: 0.5em; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#options .common-radio span:hover { background-color: #12a159; }
#options #options-right { margin-left: auto; display: flex; flex-wrap: wrap; justify-content: flex-end; /* background-color: red; */ }
#options #options-right span { margin-right: 0em; margin-left: 1em; }

/**
 * Form right box
 */
form .right { /* background-color: skyblue; */ }
#submit { background-color: #15c26b; border: none; color: #ffffff; cursor: pointer; padding: 1em 4em; margin-bottom: 25px;
text-transform: uppercase; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#submit:hover { background-color: #12a159; }

/**
 * @media
 */
@media screen and (min-width: 181px) {
}
@media screen and (min-width: 601px) {
}
@media screen and (min-width: 1080px) {
	#header-inner { width: 1080px; margin-left: auto; margin-right: auto; }
}