/**
 * main.css
 * v 0.1
 */

/* Fonts
   ========================================================================== */

/* Base options
   ========================================================================== */
body { font-family: Arial, sans-serif; font-size: 14px; color: black; background-color: white; }

/* visuallyhidden by Richard Kalehoff
   ========================================================================== */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; white-space: nowrap; }

/* Header
   ========================================================================== */
header { background-color: #2e3d49; border-bottom: 1px solid #E0E0E0; -webkit-box-shadow: 0px 3px 10px 0px rgba(224,224,224,1); 
-moz-box-shadow: 0px 3px 10px 0px rgba(224,224,224,1); box-shadow: 0px 3px 10px 0px rgba(224,224,224,1); }
header #header-inner { width: 95%; margin-left: auto; margin-right: auto; /* background-color: red; */ }
header #header-inner h1 { margin: 0px; padding: 30px 0px; font-weight: normal; color: white; }

/**
 * Form box
 */
form { display: flex; flex-wrap: wrap; }
form .left { flex-grow: 1; margin-bottom: 25px; }

#city { width: 96%; border: none; margin-bottom: 25px; padding: 1em 2%; 
border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }

#options #options-period { display: flex; flex-wrap: wrap; margin-bottom: 35px; /* background-color: tomato; */ }
#options #options-unit { display: flex; flex-wrap: wrap; /* background-color: skyblue; */ }

#options .common-radio { display: block; text-align: center; }
#options .common-radio input { display: none; }
#options .common-radio span { display: block; color: #ffffff; cursor: pointer; background-color: #3980AD; width: 120px; 
padding: 15px 10px; margin-bottom: 15px; margin-right: 7px; border-radius: 4px;  -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#options .common-radio span:hover { background-color: #3980AD; }
#options .common-radio input[type=radio]:checked + span { background-color: #12a159; }

#submit { background-color: #15c26b; border: none; color: #ffffff; cursor: pointer; padding: 1em 4em; margin-bottom: 25px;
text-transform: uppercase; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#submit:hover { background-color: #12a159; }

/**
 * @media
 */
@media screen and (min-width: 181px) {
}
@media screen and (min-width: 640px) {
	#options #options-period { margin-bottom: 0px; }
	form .left { margin-bottom: 10px; }
}
@media screen and (min-width: 780px) {
	form { margin-bottom: 15px; }
	form .left { margin-right: 20px; margin-bottom: 0px; }
	#options { display: flex; justify-content: space-between; }
	#options #options-period { margin-bottom: 0px; }
	#options .common-radio span { width: 80px; background-color: #2e3d49; padding: 4px 3px; /* background-color: red; */ }
}
@media screen and (min-width: 1080px) {
	header #header-inner { width: 1080px; }
}